.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Write your CSS code here */
.img {
  width: 100px;
  height: 100px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.role {
  font-size: 15px;
  margin-top: 0;
}
